[Unit]
Description=redditbi service
After=network.target

[Service]
User=druswick
Group=www-data
WorkingDirectory=/home/druswick/
Environment="PATH=/home/druswick/reddit_deleter/venv/bin"
ExecStart=/home/sammy/myproject/myprojectenv/bin/uwsgi --ini myproject.ini

[Install]
WantedBy=multi-user.target