{% extends 'container.html' %}
{% block body %}
<main>
    <div id="cta">Protect your reddit account from malicious downvoting.</div>
    <form id="form" action="/go">
        <input name="email" required  type="email" id="form-email" placeholder="email">
        <input type="submit"  id="go" value="Protect My Reddit Account"></input>
    </form>

</main>
<div id="blurb">
        RedditBI (aka RedditBrigadeInsurance) is a bot that will watch your reddit account and delete any comments that fall below a certain score (typically -1). This protects your valuable karma in the event you get targeted in a brigade. (Or if you just post something people don't like).
    </div>
{% endblock%}
